---
import ExperienceItem from "./ExperienceItem.astro";
import * as m from "../paraglide/messages.js";

const EXPERIENCIE = [
  {
    date: m.home_experience_1_date(),
    title: m.home_experience_1_position(),
    company: "SwaplyAr",
    description: m.home_experience_1_description(),
    link: "https://www.swaplyar.com/",
  },
];
---

<ol class="relative m-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
