---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente....",
    title: "Analista TIC",
    company: "UNLP",
    description:
      "Analista en Tecnologías de la Información y la Comunicación se trata de una carrera de corta duración que posibilita una salida laboral rápida. La titulación tiene orientaciones que buscan focalizar temas de la demanda de las empresas. He aprobado 15 de 24 asignaturas, lo que demuestra un progreso significativo en la carrera.",
    link: "https://www.info.unlp.edu.ar/analista-en-tic/",
  },
  {
    date: "2024",
    title: "Curso Full Stack",
    company: "FullStackOpen",
    description:
      "En este curso, desarrollado por FullStackOpen, adquirí conocimientos avanzados en desarrollo Full Stack, incluyendo tecnologías modernas como React, Node.js, y bases de datos NoSQL.",
  },
  {
    date: "2023",
    title: "Curso de Desarrollo Web",
    company: "The Oding Project",
    description:
      "Completé este curso para desarrollar habilidades en HTML, CSS, JavaScript y herramientas de control de versiones como Git. El curso incluyó varios proyectos prácticos que puedes revisar en mi repositorio de GitHub, demostrando mi capacidad para crear aplicaciones web funcionales y bien diseñadas.",
    link: "https://github.com/tinchx1/Curso_Odin-Project",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
